################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SelfieRT/SelfieRT/bin/Release
/SelfieRT/SelfieRT/obj/Release
/SelfieRT/SelfieRT/obj/Release
/SelfieRT/SelfieRT/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/SelfieRT/SelfieRT/obj/Release/TempPE
/SelfieRT/SelfieRT/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SelfieRT/SelfieRT/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SelfieRT/SelfieRT/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SelfieRT/SelfieRT/obj/Release/SelfieRT.Properties.Resources.resources
/SelfieRT/SelfieRT/obj/Release/SelfieRT.exe
/SelfieRT/SelfieRT/obj/Release/SelfieRT.csprojResolveAssemblyReference.cache
/SelfieRT/SelfieRT/obj/Release/SelfieRT.csproj.GenerateResource.Cache
/SelfieRT/SelfieRT/obj/Release/SelfieRT.csproj.FileListAbsolute.txt
/SelfieRT/SelfieRT/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/SelfieRT/SelfieRT/obj/Release/DesignTimeResolveAssemblyReferences.cache
/SelfieRT/SelfieRT/obj/Release/CoreCompileInputs.cache
/SelfieRT/SelfieRT/obj/Release
/SelfieRT/SelfieRT/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SelfieRT/SelfieRT/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SelfieRT/SelfieRT/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SelfieRT/SelfieRT/obj/Release/SelfieRT.Properties.Resources.resources
/SelfieRT/SelfieRT/obj/Release/SelfieRT.exe
/SelfieRT/SelfieRT/obj/Release/SelfieRT.csprojResolveAssemblyReference.cache
/SelfieRT/SelfieRT/obj/Release/SelfieRT.csproj.GenerateResource.Cache
/SelfieRT/SelfieRT/obj/Release/SelfieRT.csproj.FileListAbsolute.txt
/SelfieRT/SelfieRT/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/SelfieRT/SelfieRT/obj/Release/DesignTimeResolveAssemblyReferences.cache
/SelfieRT/SelfieRT/obj/Release/CoreCompileInputs.cache
/SelfieRT/.vs/SelfieRT/v15
